@font-face {font-family: 'Ruda'; font-weight: normal; font-style: normal;
	src: url('../fonts/ruda/ruda-400.woff2') format('woff2');}
@font-face {font-family: 'Ruda'; font-weight: bold; font-style: normal;
	src: url('../fonts/ruda/ruda-bold-700.woff2') format('woff2');}
@font-face {font-family: 'Roboto'; font-style: normal; font-weight: normal;
	src: url('../fonts/roboto/Roboto-Regular.woff') format('woff');}
@font-face {font-family: 'Roboto'; font-style: normal; font-weight: bold;
	src: url('../fonts/roboto/Roboto-Bold.woff') format('woff');}
@font-face {font-family: 'Roboto'; font-style: italic; font-weight: normal;
	src: url('../fonts/roboto/Roboto-Italic.woff') format('woff');}

body {
	color: #4d4d4d;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 3.0em;
	color: #43488A;
	font-family: 'Ruda', sans-serif;
	font-weight: bold;
}
 h2, h3, h4, h5 {
	color: #3c3c3c;
	font-family: 'Ruda', sans-serif;
	font-weight: bold;
}