@font-face {font-family: 'Designosaur'; font-weight: normal; font-style: normal;
	src: url('../fonts/designosaur/Designosaur-Regular.otf') format('opentype');}
@font-face {font-family: 'Designosaur'; font-weight: normal; font-style: italic;
	src: url('../fonts/designosaur/Designosaur-Italic.otf') format('opentype');}
@font-face {font-family: 'Roboto'; font-style: normal; font-weight: normal;
	src: url('../fonts/roboto/Roboto-Regular.woff') format('woff');}
@font-face {font-family: 'Roboto'; font-style: normal; font-weight: bold;
	src: url('../fonts/roboto/Roboto-Bold.woff') format('woff');}
@font-face {font-family: 'Roboto'; font-style: italic; font-weight: normal;
	src: url('../fonts/roboto/Roboto-Italic.woff') format('woff');}

body {
	color: #4d4d4d;
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
	color: #3c3c3c;
	font-family: 'Designosaur', sans-serif;
}